*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: black;
color: #b3131b;
}
body{
	background-color: #b3131b;
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:#b3131b; 
}

.center{
	width: 90%;
	background-color: grey;

}
.container
{
	background-color: grey;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #b3131b;
}
.navbar-brand{
font-size: 30px;	
}