*{
    padding:0px 10px;
    background-color:grey;
    font-family: verdana;
}
h1{
    text-align: center;
    margin-top: 40px;
}
p{
    margin-top: 200px;
    border: 2px solid black;
    margin: 20px;
}
.box{
    display: flex;
    height: 80px;
    flex: 1 1 auto;
    margin-top: 30px;
    margin-left: 260px;
}
