*{
    padding:0px 10px;
    background-color:grey;
    font-family: verdana;
    opacity: 10%;
}
p{
    padding: 0px 20px 30px 10px;
    border: 10px;
    margin: 20px;

}
h1{
    text-align: center;
}
.box{
    display: flex;
    height: 80px;
    flex: 1 1 auto;
}