@font-face {
    font-family: myFirstFont;
    src: url(../font/Hagrid-Light.otf);
  }


*{
    padding:0px 10px;
    font-family: myFirstFont;
    background: url(../img/Background.png) no-repeat center center fixed;
    
}

#name{
    padding-top: 420px;
    padding-left: 198px;
    font-size: 30px;
    cursor: default;
    border: transparent;
}
#name1{
    font-size: 15px;
    padding-left: 198px;
    margin-top: -20px;
    font-weight: bold;
    cursor: default;
    border: transparent;
}

#logo{
    /*padding-top: 30px;
    width: 50px;
    background-repeat: no-repeat fixed;
    background-attachment: fixed;*/
    display: inline;
    margin: 10px; 
    float: left;
    height: 70px;
    width: auto; 
    border: 0;
    position: relative;

  
    
}
.nav {
    background:transparent; 
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 0px;
    float: right;
    padding-left: 600px;
    
  }
  
  .nav li {
    display: inline;
    font-size: 15px;
    padding-top: 30px;
    float: right;
    padding-left: 50px;
    
  }


a:link{
    text-decoration: none;
    color: white;
}
a:visited{
    color: white;
}
a:hover{
    color: black;
}
a:active{
    color:white;
}

